#wrapper{
	
}

.bg { 
  height: 100%; 
  width: 100%;
  position: fixed;
  z-index: -999;
  top:0;
}

.bg .bg-img{
	max-width: none;
	width:100%;
}

#header{
	padding: 30px;
    background: #8aff8a;
}

#title{
	height: 500px;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	position: relative;
}

#title .breadcrumb{
	background-color: rgba(0,0,0,0);
}

#title #title-content{
	margin-left: 50px;
	bottom: 20px;
	position: absolute;
}

#title-content h1{
	max-width: 800px;
}

.container #content{
	width: 100%;
	background-color: #ffffff;
	height: 1000px;
}

.reading-window .social-media{
	padding:50px;
}

.reading-window h3,p{
	padding-left: 50px;
	
}