
.container{
	max-width:960px;
}
#header{
	padding: 30px;
   background: #8aff8a;
}

#wrapper{
	margin-bottom: 110px;
}
a{
	text-decoration: none;
}

a:hover{
  text-decoration: none;
}

time{
	font-size:12px;
	font-weight: 400;
}

i{
  margin-right: 5px;
}

ul{
  padding: 0;
}
li{
  list-style: none;
}
/* Section */
.section{
	margin-top:10px;
	margin-bottom: 10px;
}

.title{
  color:green;
}

.news-title{
	background: rgba(0, 0, 0, 0.63);
    padding: 10px 15px;
    font-size: 22px;
    width: 98%;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    color: #fff;
    border-left: 4px solid #5a83f5;
}

.img-slider{
	height: 345px;
}

/*Hightlight-news*/
.summary-highlight-news{
	/*width: 65%;*/
	display: flex;
	flex-wrap: wrap;
}

.highlight-news{
	width: 315px;
}

.img-highlight-news{
	width: 140px;
	max-height: 100px;
	float:left;
	margin-right:5px;
	margin-bottom: 5px;
}

.content-primary{
	color:black;
	display: block;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
}

.content-primary:hover{
	color:green;
	text-decoration: none;
}

.time{
  display: block;
}

.min-menu-post-header{
  margin: 10px 0;
}

.min-menu-post-header a{
  color:green;
  font-size:25px;
  font-weight: 600;
}
.min-menu-post-header>ul>li{
  display: inline-block;
}
.background-post-header{
  background-image: url(../img/seagame/anh1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
}

.post-header{
    height: 550px;
    width: 100%;
    display: table;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;

}

.title-post-header{
    display: table-cell;
    vertical-align: bottom;
    padding-left: 25px;
}

.title-post-header>p{
  display: inline-block;
  margin-right: 10px;
}

.title-post-header>ul{
  padding: 0;
}
.title-post-header>ul>li{
      list-style: none;
    border: 1px solid white;
    border-radius:10px;
    display: inline-block;
    /* padding: 1px; */
    padding: 0 7px;
    color: white;
    background: #178a16;
    font-weight: 500;
}

.title-highlight-news{
    border-bottom: 2px solid green;
    margin:  10px 0 16px;
    font-size:25px;
}

/*Menu open*/
 #dock-container {
    position: fixed;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    width: 100%;
    background: #e0ecdd;
    border-radius: 300px 300px 0 0;
}
#dock-container li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

#dock-container li img {
	width: 80px;
	height: 80px;
	-webkit-box-reflect: below 2px
	          -webkit-gradient(linear, left top, left bottom, from(transparent),
	          color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
	-webkit-transition: all 0.3s;
	-webkit-transform-origin: 50% 100%;
}

#dock-container li:hover img { 
	-webkit-transform: scale(2);
	margin: 0 2em;
}
#dock-container li:hover + li img,
#dock-container li.prev img {
	-webkit-transform: scale(1.2);
	margin: 0 1.5em;
}

#dock-container li span {
    display: none;
    position: absolute;
    bottom: 140px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    padding: 4px 0;
    border-radius: 12px;
}
#dock-container li:hover span {
    display: block;
    color: #fff;
}
/*Menu close*/

/* Responsive */

@media screen and (max-width: 1024px) {
  .summary-highlight-news{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	}
  .img-slider{
  	height: 100%;
  }	
}

@media screen and (max-width: 900px) {
  .img-slider{
  	height: 345px;
  }	
}

@media screen and (max-width: 600px) {
  .img-slider{
  	height: 200px;
  }	
}
