body{
	width: 100%;
	height: 100%;
	font-family: monospace;}

*{
	margin: 0;
	padding: 0;}

#form{
	border: 1px solid gray;
    padding: 15px 25px 20px;
    border-radius: 5%;
    box-shadow: 8px 9px 12px 4px grey;
}
.login-container{
	width:320px;
	margin:auto;
	padding: 9% 0 0;
	font-size:18px;
    font-weight: 600;
    color: forestgreen;}
.login-container h1{
	margin: auto;
    width: 180px;
    margin-bottom: 20px;}
input[type="text"],input[type="password"]{
	font-size: 20px;
	width: 100%;
    padding: 15px 0 0 5px;
    margin: 2px 0 10px;
    background-color: white;
    height: 100%;
    border: 1px solid #ded6d6;}

input[type="submit"]{
	background: #228b22;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	width: 75px;
	height: 35px;
	font-size: 18px;
	float: right;
    border-radius: 15%;}

.container-admin{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	box-sizing: border-box;}

nav{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #333333;}

#logo{
	height: 50px;
	background-color: #333333;
	color:#1E90FF;
	text-align: center;
	line-height: 50px;
	font-size: 1.3em;
	font-family: arial;}

#menu li>a{
	font-size: 1.1em;
	font-family: arial;
	width: 100%;
	height: 100%;
	color: #f7f7f7;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 40px 0;}

#menu li:hover{
	background-color: #151515;
}

#menu li>a:hover{
	box-sizing: border-box;
	color:#1E90FF;
	border-left:30px solid #1E90FF;}

header{
	width:calc(100% - 200px);
	height: 50px;
	position: absolute;
	display: block;
	top:0;
	left: 200px;
	background-color: #333333;
	color:#f7f7f7;
	line-height: 50px;}

header #links{
	float:right;
	height:50px;
	display: block;
	color:#f7f7f7;
	font-size:1em;}

#links>a{
	color:#f7f7f7;
	text-decoration: none;
	padding: 0 .5em;
	height:100%;
	width:100%;
	display: block;}

#links:hover{
	background-color: #1E90FF;
}

main{
	position: absolute;
	top: 50px;
	left:200px;
	height: calc(100% - 50px);
	width: calc(100% - 200px);
	background-color: #ecf0f1;}

#minimize,#maximize{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 5px;
	left: 75px;
	color: #f7f7f7;
	font-size: 2em;
	background-color: #555555;
	border:none;
	border-radius: 50px;
	line-height: 50px;
	text-align: center;}

#minimize:hover{
      background-color: red;
}
#maximize:hover{
	background-color: green;
}

#maximize{
	display: none;
	background-color: black;}